body{
    background-image:linear-gradient( aquamarine, orangered);
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 18px grey; 
}
.heading_div1{
    float: none;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 18px grey;
}
.heading_div2{
    font-size: 22px;
}